@using System.Linq
@model Effects
@{
    ViewData["Title"] = "Effekter";
}
<h1 class="display-1">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <h2 class="display-4">Uppvärmning</h2>
        <form method="post" asp-action="UseWarmupEffect">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input asp-for="WarmupEffect.Active" type="checkbox" disabled class="custom-control-input">
                    <label class="custom-control-label" asp-for="WarmupEffect.Active">@(Model.WarmupEffect.Active ? "Aktiv" : "Inaktiv")</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.LightGroup">Grupp</label>
                <select asp-for="WarmupEffect.LightGroup" asp-items="Model.LightGroups.Select(lg => new SelectListItem(lg.Name, lg.Id))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.TurnOnAt">Sätt på</label>
                <input asp-for="WarmupEffect.TurnOnAt" type="time" disabled="disabled" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.WarmUp">Uppvärmningsperiod</label>
                <input asp-for="WarmupEffect.WarmUp" type="time" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.CoolDown">Avkylningsperiod</label>
                <input asp-for="WarmupEffect.CoolDown" type="time" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.TurnOffAt">Stäng av</label>
                <input asp-for="WarmupEffect.TurnOffAt" type="time" disabled="disabled" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.UseMinTemp">Lägsta temperatur</label>
                <input asp-for="WarmupEffect.UseMinTemp" class="form-control" min="@WarmupEffect.MinTemp" max="@WarmupEffect.MaxTemp" step="1" />
            </div>
            <div class="form-group">
                <label asp-for="WarmupEffect.UseMaxTemp">Högsta temperatur</label>
                <input asp-for="WarmupEffect.UseMaxTemp" class="form-control" min="@WarmupEffect.MinTemp" max="@WarmupEffect.MaxTemp" step="1" />
            </div>
            <button type="submit" class="btn btn-primary">Aktivera</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2 class="display-4">Jul</h2>
        <form method="post" asp-action="UseXmasEffect">
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input asp-for="XmasEffect.Active" type="checkbox" disabled class="custom-control-input">
                    <label class="custom-control-label" asp-for="XmasEffect.Active">@(Model.XmasEffect.Active ? "Aktiv" : "Inaktiv")</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="XmasEffect.LightGroup">Grupp</label>
                <select asp-for="XmasEffect.LightGroup" asp-items="Model.LightGroups.Select(lg => new SelectListItem(lg.Name, lg.Id))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="XmasEffect.CycleLength">Cykellängd (sekunder)</label>
                <input asp-for="XmasEffect.CycleLength" type="number" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Aktivera</button>
        </form>
    </div>
</div>
